@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #ff9106;
    color: azure;
}

header{
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('imagens/header.jpg');
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
    color: azure;
}

header nav p{
    font-weight: bold;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 0 15px;
}

.header-content{
    max-width: 400px;
    margin: 150px auto;
    color: azure;
    text-align: center;
}

.header-content h1{
    margin-bottom: 10px;
    font-size: 4rem;
}

.pacotes{
    background: #e7e7e7;
    padding: 15px;
}

.pacotes .pacotes-card{
    display: flex;
}

.pacotes .pacotes-title{
    width: 100%;
    margin: auto;
    text-align: center;
}

.pacotes .card{
    width: 250px;
    height: 350px;
    background: azure;
    border-radius: 24px 8px;
    margin: 25px auto;
    position: relative;
}

.pacotes .card-image{
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.pacotes .card-content{
    padding: 0 15px;
}

.pacotes .card-content ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    font-weight: bold;
    color: grey;
}

.pacotes .card-content li svg{
    width: 18;
    height: 18;
    margin-right: 10px;
}

.pacotes .card-content h1{
    font-size: 1rem;
}

.pacotes .card .card-tag-top{
    position: absolute;
    right: 0;
    top: 15px;
    background: chocolate;
    border-radius: 25px 0 0 25px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom{
    position: absolute;
    left: 0;
    top: 170px;
    background: rgb(40, 157, 224);
    border-radius: 0 25px 25px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p{
    margin: 0;
    font-size: .8rem;
    color: azure;
    font-weight: bold;
}

/* RESPONSIVIDADE */

/* Landscape phone to portrait tablet */
@media (max-width: 767px){

}

/* Landscape phones and down */
@media (max-width: 480px){
    body{
        height: calc(100vh - 55px);
    }

    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        background:#ff9106;
        color: azure;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p{
        width: 100%;
        text-align: center;

    }
}

/* Portrati tablet to landscape and desktop */
/* @media (min-width: 768px) and (max-width 979px) {...} */

/* Large desktop */
/* @media (min-width: 1200px) {...} */