@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    cursor: pointer;

    background: #762a2e;
    color: aliceblue;
    transition: all .5s;
}

button:hover {
    transform: scale(1.1);
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('/assets/header.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;

    margin: auto 30px;
}

header nav p {
    font-weight: bold;
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
    font-size: 1.3rem;
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.pacotes { 
    padding: 15px;
    /* background: #e5e5e5; */
}

.pacotes .pacotes-cards {
    display: flex;
    max-width: 950px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: aliceblue;
    border-radius: 24px 0px;
    margin: 25px;

    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.75);

    cursor: pointer;
    transition: 1s;

    position: relative;
}

.pacotes .card:hover {
    transform: scale(1.1);
}

.pacotes .card-image {
    width: 250px;
    height: 170px;
    border-radius: 24px 0 0 0;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: .7rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: grey;
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1.2rem;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: .8rem;
    color: aliceblue;
    font-weight: bold;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #f19b39;

    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 130px;
    background: #f19b39;

    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    position: relative;

    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}

.servicos .card svg:hover {
    stroke: rgb(26, 143, 104);
    transform: scale(1.1);
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: grey;
    font-size: .8rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.servicos button {
    background: #1d61dd;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    box-shadow: 3px 2px 14px -1px rgba(0,0,0,0.83);
    border-radius: 8px;
}

.contato {
    padding: 60px;
    position: relative;

    background: #e1e8f7;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    background: aliceblue;
    position: absolute;

    border-radius: 8px;
    box-shadow: 3px 2px 14px -1px rgba(0,0,0,0.83);

    top: calc(50% - 150px);
    left: calc(20% - 175px);
    z-index: 99;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

contato .contato-card h1 {
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li {
    font-size: .8rem;
    font-weight: bold;
    color: grey;

    display: flex;
    align-items: center;
}

.contato .contato-card li svg {
    width: 16px;
    margin: 10px;
}




/* RESPONSIVIDADE */

@media (min-width: 1520px) {
    
    .pacotes .pacotes-cards {
        max-width: 1530px;
    }

    .pacotes .card {
        margin: 30px 90px;
    }

    .servicos .servicos-cards {
        max-width: 1530px;
        margin: auto;
    }

    .servicos .card {
        margin: 30px 100px;
    }
}

@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
    }

    .contato .contato-card {
        left: 40px;
    }
}

@media (max-width: 800px) {

    .contato {
        padding: 20px 0;
    }

    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }
}


@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        z-index: 99;

        background: #1d61dd;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
}

@media (min-width: 1200px) {
}